@message-note-color: #E4E4E4;
@message-comment-color: #F8F8F8;
//@message-comment-color: red;
@message-email-color: #D1D1E8;
@message-border-color: rgba(0,0,0,0.03);


.o_chatter {
    .o_thread_message.o_mail_not_discussion {
        margin-bottom: 4px;
               border: solid 1px @message-border-color;
               padding: 4px 16px 8px;
        &.o_message_type_note .o_thread_message_core {
            //background-color: @message-note-color;
            background-color: red;
        }
        &.o_message_type_comment {
            background-color: green;
            //@message-comment-color;
        }
        &.o_message_type_email {
            background-color: blue;
            //@message-email-color;
        }
    }
}


//.o_chatter {
//    .o_composer_button_emoji {
//        display: none;
//    }
//    .o_composer .o_composer_text_field {
//        resize: vertical !important;
//        min-height: 200px !important;
//    }
//    .o_mail_thread {
//        .o_mail_thread_content {
//            .o_thread_message.o_mail_not_discussion {
//                margin-bottom: 4px;
//                border: solid 1px @message-border-color;
//                padding: 4px 16px 8px;
//                &.o_message_type_note,
//                //&.o_message_type_note .o_thread_message_core.o_mail_note {
//                &.o_message_type_note .o_thread_message_core {
//                    background-color: @message-note-color;
//                }
//                &.o_message_type_comment {
//                    background-color: @message-comment-color;
//                }
//                &.o_message_type_email {
//                    background-color: @message-email-color;
//                }
//            }
//        }
//    }
//}
