@message-user-color: #D1D1E8;
@message-system-color: #E4E4E4;


.o_chatter {
    .o_thread_message.o_mail_not_discussion {
        background-color: @message-system-color;
    }

    .o_thread_message.o_mail_discussion {
        background-color: @message-user-color;
    }
}
